/*--Colores--*/
$mask-background: rgba(0, 0, 0, 0.5);
$mask-color: rgba(255, 255, 255, 0.7);
$word-color: #333333;
$gray-color-200: #999999;
$gray-color-400: #666666;
$blue-ligth: #3483fa;

/*--primary--*/
$primary-100: #eef2f7;
$primary-200: #b6c5df;
$primary-300: #7b97c8;
$primary-400: #393fd0;
$primary-500: #0033a0;
$primary-600: #0b2987;
$primary-700: #13236f;
$primary-800: #1a205a;
$primary-900: #1e1f47;

/*--neutral--*/
$neutral-000: #fff;
$neutral-100: #eeeeee;
$neutral-200: #e2e7ed;
$neutral-300: #cbd1de;
$neutral-400: #b4bcce;
$neutral-500: #9da5be;
$neutral-600: #7f839b;
$neutral-700: #626277;
$neutral-800: #464454;
$neutral-900: #292730;
$neutral-black: #000;

/*--yellow--*/
$yellow-neutral: #ffe600;

/*--Spacing system--*/
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 38px;
$spacing-xxxl: 48px;
$spacing-xxxxl: 130px;

/*--Shadows--*/
$shadow-xxs: 0 1px 3px rgba(149, 150, 153, 0.2),
  0 2px 1px rgba(149, 150, 153, 0.12), 0 1px 1px rgba(149, 150, 153, 0.12);
$shadow-xs: 0 1px 5px rgba(149, 150, 153, 0.2),
  0 3px 1px rgba(149, 150, 153, 0.12), 0 2px 2px rgba(149, 150, 153, 0.14);
$shadow-s: 0 2px 4px rgba(149, 150, 153, 0.2),
  0 1px 10px rgba(149, 150, 153, 0.12), 0 4px 5px rgba(149, 150, 153, 0.14);
$shadow-m: 0 5px 5px rgba(149, 150, 153, 0.2),
  0 3px 14px rgba(149, 150, 153, 0.12), 0 8px 10px rgba(149, 150, 153, 0.14);
$shadow-l: 0 8px 10px rgba(149, 150, 153, 0.2),
  0 6px 30px rgba(149, 150, 153, 0.12),
  0 16px 24px rgba(149, 150, 153, 0.14);
$shadow-xl: 0 11px 20px rgba(149, 150, 153, 0.2),
  0 9px 76px rgba(149, 150, 153, 0.12),
  0 9px 46px rgba(149, 150, 153, 0.12),
  0 8px 38px rgba(149, 150, 153, 0.14);

/*--font-family--*/
$ff-FSJoey-Bold: 'FSJoey-Bold', Helvetica, Arial, sans-serif;
$ff-FSJoey-Medium: 'FSJoey-Medium', Helvetica, Arial, sans-serif;
$ff-FSJoey-Regular: 'FSJoey-Regular', Helvetica, Arial, sans-serif;
$ff-Cabin-Regular: 'Cabin-Regular', Helvetica, Arial, sans-serif;
$ff-Cabin-Medium: 'Cabin-Medium', Helvetica, Arial, sans-serif;
$ff-Cabin-SemiBold: 'Cabin-SemiBold', Helvetica, Arial, sans-serif;
$ff-Cabin-Bold: 'Cabin-Bold', Helvetica, Arial, sans-serif;
$ff-body-medium: 'Cabin-Medium', Helvetica, Arial, sans-serif;

/*--font-sizes--*/
$fs-h1: 2.125rem;
$fs-h2: 2rem;
$fs-heading-h2: 1.875rem;
$fs-h3: 1.733rem;
$fs-h4: 1.467rem;
$fs-h5: 1.2rem;
$fs-heading-h5: 1.125rem;
$fs-h6: 1.067rem;
$fs-base: 1rem;
$fs-small: 0.866rem;
$fs-lead-text: 1.2rem;
$fs-paragraph: 1rem;
$fs-body-paragraph: 0.9375rem;
$fs-body-caption: 0.8125rem;
$fs-caption: 0.867rem;
$fs-mini-caption: $fs-caption;
$fs-button-small: 0.375rem;
$fs-button-medium: 0.75rem;
$fs-title-medium: 1.375rem;

/*--Borders--*/
$border-primary: $spacing-xxs solid $primary-500;
$border-divider: 1px solid $neutral-200;
$border-transparent: 1px solid transparent;

/*-font-size-buttons--*/
$fs-btn-link: 1rem;
$fs-btn-link-sm: 0.867rem;
$fs-btn-link-breadcrumb: $fs-caption;

/*--line-heights--*/
$lh-heading: 1.125em;
$lh-base: 1.5em;
$lh-paragraph: 1.375em;
$lh-body-paragraph: 1.467em;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

/*--Widths--*/
$width-sidebar: 100px;
$width-tooltip-arrow: 8px;
$width-tooltip-min: 100px;
$width-modal: 500px;
$width-modal-large: 700px;
$width-modal-content: min-content;
$width-loader-asDialog: 446px;
$width-media-mobile: 920px;
$width-dropdown-user: 220px;

$wh-spinner-loader: 64px;

$wh-one-percentage: 1%;
$wh-three-percentage: 3%;
$wh-fortyFive-percentage: 45%;
$wh-fifty-percentage: 50%;
$wh-sixty-percentage: 60%;
$wh-eighty-percentage: 80%;
$wh-percentage: 90%;
$wh-full-percentage: 100%;

/*--Heights--*/
$height-header: 64px;
$height-footer: 94px;
$height-session_info: 26px;
$height-no-header: calc(100vh - #{$height-header});
$height-no-footer: calc(100vh - #{$height-footer + $height-session_info});
$height-main: calc(
  100vh - #{($height-footer + $height-header + $height-session_info)}
);
$height-card: 140px;
$height-cardsinicono: 140px;
$height-container-base: 228px;
$height-tooltip-arrow: 5px;
$height-input: 40px;
$height-select-bussine: 278px;

/*--Border Radius--*/
$radius-card: $spacing-xxs $spacing-xxs $spacing-l $spacing-xxs;
$radius-input: 3px;

/*--Aligns--*/
$basic-align: top, bottom, right, left;
$adjust-align: right, center, left;
